<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="participant">
            <h2><span>Participant</span> {{participant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{participant.name}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{participant.email}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{participant.phone}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="participant.image">
                        <a (click)="openFile(participant.imageContentType, participant.image)">
                            <img [src]="'data:' + participant.imageContentType + ';base64,' + participant.image" style="max-width: 100%;" alt="participant image"/>
                        </a>
                        {{participant.imageContentType}}, {{byteSize(participant.image)}}
                    </div>
                </dd>
                <dt><span>Event</span></dt>
                <dd>
                    <span *ngFor="let event of participant.events; let last = last">
                        <a [routerLink]="['/event', event?.id, 'view' ]">{{event.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/participant', participant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
