<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="program">
            <h2><span>Program</span> {{program.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{program.name}}</span>
                </dd>
                <dt><span>Desc</span></dt>
                <dd>
                    <span>{{program.desc}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="program.image">
                        <a (click)="openFile(program.imageContentType, program.image)">
                            <img [src]="'data:' + program.imageContentType + ';base64,' + program.image" style="max-width: 100%;" alt="program image"/>
                        </a>
                        {{program.imageContentType}}, {{byteSize(program.image)}}
                    </div>
                </dd>
                <dt><span>Latitude</span></dt>
                <dd>
                    <span>{{program.latitude}}</span>
                </dd>
                <dt><span>Longitude</span></dt>
                <dd>
                    <span>{{program.longitude}}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{program.startDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{program.endDate}}</span>
                </dd>
                <dt><span>Event</span></dt>
                <dd>
                    <div *ngIf="program.event">
                        <a [routerLink]="['/event', program.event?.id, 'view']">{{program.event?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/program', program.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
